.elementoImpar{
    background-color: lightpink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
.textoGrande{
    font-size: 24px;
}
#segundoElemento{
    color: blue;
    font-size: 36px;
}
#cuartoElemento{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}